* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: black;
}

.main-container {
  text-align: center;
}

.main-container h1,
h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  text-shadow: 2px 2px 2px darkgoldenrod;
}
.button {
  padding: 10px;
  color: black;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  box-shadow: 2px 2px 2px darkgoldenrod;
  cursor: pointer;
}
.target {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  height: 100vh;
}

.animation {
  position: relative;
  background-color: rgba(150, 194, 194, 0.842);
  height: 60%;
  width: 90%;
  border-radius: 50px;
  border-bottom: 10px solid rgb(68, 66, 66);
}
.moving-container {
  position: absolute;
  bottom: 0;
}
.catImage {
  position: absolute;
  height: 90px;
  left: 400px;
  bottom: -2px;
}
.girlImage {
  position: absolute;
  left: -2px;
  bottom: -15px;
  height: 200px;
}
